#########################################
#                                       #
#    REQUIRED CONFIGURATION SETTINGS    #
#                                       #
#########################################

# The URL of the Stacks Blockchain API instance
RPC_URL=https://api.mainnet.hiro.so

# The public key of the account signing transactions
SIGNER_PUBLIC_KEY=<public-key>

# The private key of the account signing transactions
SIGNER_PRIVATE_KEY=<private-key>

# The name of the authorized Oracle contract
ORACLE_CONTRACT_NAME=uwu-oracle-v1-1-2

# The fee rate in uSTX paid to broadcast transactions
TX_FEE_RATE=3000
